<div align="center">

    <h1>Login</h1>

    <h3 style="color: red;" *ngIf="form.error"> {{form.error}}</h3>
    <h3 style="color: green;" *ngIf="form.successmsg"> {{form.successmsg}}</h3>
    <form (submit)="signIn()">

        <table align="center">

            <tr>
                <th>Login</th>
                <td><input type="text" name="login" [(ngModel)]="form.login" placeholder="Enter your login"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.password" placeholder="Enter your password"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="signin"></td>
            </tr>

        </table>

    </form>

</div>