<div align="center">

    <h1>Sign Up</h1>
    <form (submit)="signUp()">
        <table align="center">

            <tr>
                <th>First Name</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.firstName" placeholder="Enter your first name"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.lastName" placeholder="Enter your last name">
                </td>
            </tr>
            <tr>
                <th>Login</th>
                <td><input type="text" name="login" [(ngModel)]="form.login" placeholder="Enter your login"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.password" placeholder="Enter your password"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="signup"></td>
            </tr>


        </table>
    </form>

</div>