<div align="center">

    <h1 style="color: blue;">Add Role</h1>
    <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">{{ form.message }}</h3>
    <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">{{ form.message }}</h3>

    <form>

        <table align="center">

            <tr>
                <th>Role Name</th>
                <td>
                    <input type="text" name="name" [(ngModel)]="form.data.name" placeholder="Enter your role name">
                </td>
                <td style="color: red;">{{form.inputerror.name}}</td>
            </tr>

            <tr>
                <th>Role Description</th>
                <td>
                    <input type="text" name="description" [(ngModel)]="form.data.description" placeholder="Enter your role description">
                </td>
                <td style="color: red;">{{form.inputerror.description}}</td>
            </tr>

            <tr>
                <th></th>
                <td><button (click)="submit()">save</button></td>
            </tr>

        </table>

    </form>

</div>