<h3>Hii, Guest</h3>
<a href="role">Add Role</a>|
<a href="roleList">Role List</a>|
<a href="user">Add User</a>|
<a href="userList">User List</a>|
<a href="college">Add College</a>|
<a href="collegeList">College List</a>|
<a href="student">Add Student</a>|
<a href="studentList">Student List</a>|
<a href="course">Add Course</a>|
<a href="courseList">Course List</a>|
<a href="subject">Add Subject</a>|
<a href="subjectList">Subject List</a>|
<a href="timetable">Add TimeTable</a>|
<a href="timetableList">TimeTable List</a>|
<a href="faculty">Add Faculty</a>|
<a href="facultyList">Faculty List</a>|
<a href="marksheet">Add Marksheet</a>|
<a href="marksheetList">Marksheet List</a>
<hr>